<!DOCTYPE html>
<html>
  <head>
    <title>Dungeonball</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>Dungeonball</center>
    <br/>
    <div id="search_bar">
      <%= form_with url: "/search/players", method: :get do |f| %>
      <%= f.label :search_by_name %>
      <%= f.text_field :search_by_name, placeholder: 'Search by player name' %>
      <%= f.submit 'Search' %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
